SAT>IP protocol issue

if you look at the docs below we may have at least 1 open point

HTTP "Connection: close" is missing atm

http://www.satip.info/sites/satip/files/resource/satip_rtsp_message_flows_version_1_0_0.pdf
http://www.satip.info/sites/satip/files/resource/satip_specification_version_1_2_2.pdf
http://www.satip.info/sites/satip/files/resource/satip_specification_release_notes_version_1_2_2.txt

From RFC 2616, Section 14.10:
```
    HTTP/1.1 defines the "close" connection option for the sender to
    signal that the connection will be closed after completion of the
    response. For example,

       Connection: close

    in either the request or the response header fields indicates that the connection SHOULD NOT be considered `persistent' (section 8.1)
    after the current request/response is complete.

    HTTP/1.1 applications that do not support persistent connections MUST include the "close" connection option in every message.
```